<section id="section_bike_listings" class="section_alignment" style="text-align:center; position:relative; padding-top: 20px; padding-bottom: 20px; color: #525961;">

  <h1 class="section_title">Bike rides</h1>

  <div class="row">

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/260439-cycle-canberra-centenary-trail','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'canberraHeroRide.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle Canberra Centenary Trail</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/290203-cycle-canberra-parliamentary-triangle-loop-ride','mywindow');" style="cursor: pointer;">
      <div id="bikeRide2" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'ParliamentaryTriangleLoop.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle Canberra Parliamentary Triangle Loop Ride</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/288797-bike-ride-anzac-parade','mywindow');" style="cursor: pointer;">
      <div id="bikeRide3" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'AnzacParade.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Bike Ride Anzac Parade</h3>
      </div>
    </div>
  </div><!-- end class row -->

    <div class="row">

      <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/260422-cycle-mount-stromlo-cross-country-loop-on','mywindow');" style="cursor: pointer;">
        <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'MountStromlo.jpg'%>) no-repeat 50% 50%; background-size: cover;">
          <h3 class="listing_title">Cycle Mount Stromlo Cross Country Loop One</h3>
        </div>
      </div>

      <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/284599-cycle-east-kowen-forest','mywindow');" style="cursor: pointer;">
        <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'KowenForest.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle East Kowen Forest</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/284599-cycle-east-kowen-forest','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'OConnorRidge.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle O’Connor Ridge</h3>
      </div>
    </div>

  <div> <!-- end class row -->

  <div class="row">

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/284605-cycle-north-canberra-loop','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'NorthCanberraLoop.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle North Canberra Loop</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/290236-cycle-south-canberra-loop','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'SouthCanberraLoop.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle South Canberra Loop</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/290205-cycle-yarralumla-the-embassy-loop','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="border-radius: 4px 4px 0px 0px; height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'YarralumlaEmbassy.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cycle Yarralumla the Embassy Loop</h3>
      </div>
    </div>

  </div><!-- end class row -->
</section>
