    <!-- Hero image  -->
    <%= render 'hero' %>

    <!-- Packages  -->
    <%= render 'package' %>

    <!-- Featured bike rides 3 thumbnails  -->
    <%= render 'bike_rides' %>

    <!-- Explore bike rides map-->
    <%# render 'map' %>

    <!-- Start planning  -->
    <% render 'start_planning' %>

    <!-- Bike rentals  -->
    <%= render 'bike_rentals' %>

    <!-- Where to stay  -->
    <%= render 'accomodation' %>

    <!-- Transport (Getting aroud Canberra)  -->
    <%= render 'transport' %>

    <!-- What others are saying  -->
    <!--<h3>What others are saying</h3>-->
